/* styles.scss */

// Variáveis
$primary-color: #333;
$secondary-color: #fff;
$product-bg: #f4f4f4;

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: $primary-color;
    text-decoration: none;
}

main {
    padding: 20px;
}

.product {
    background-color: $product-bg;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: $primary-color;
    color: $secondary-color;
    text-align: center;
    padding: 10px 0;
}
